
.add-florist-back{
  height:"100%";
  background-image:linear-gradient(to right, rgba(134, 134, 134, 0.458),rgba(173, 173, 173, 0.49)), url(https://www.teahub.io/photos/full/301-3012482_red-flowers-blossom-blue-blurred-background-wallpaper-red.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 
}
.add-florist-header{
  padding: 2rem;
  text-shadow: 2px 2px  rgb(88, 0, 38);
  height: 150px;
  background-size: cover;
  background-position: center;
  font-size: 60px;
  font-weight: 800;
  font-style: oblique;
  text-align: center;
  color: #9cffea;
  font-family: 'Calligraffitti', cursive;
  letter-spacing: 3px;
  
}
.text-box-add-florist{
  background-color: rgba(253, 58, 201, 0.253);
}
.add-flower-header{
  background-image: linear-gradient(to right,rgba(255, 236, 236, 0.563),rgba(246, 223, 223, 0.59)),url(https://media.istockphoto.com/photos/vivid-color-hydrangea-in-blur-style-picture-id496705525?b=1&k=20&m=496705525&s=170667a&w=0&h=KWISe823HRVZHeK9CCbMOvoZC8aZwgiB_dkkJBTYFuw=);
  padding: 2rem;
  text-shadow: 2px 2px 3px #9d9d9d;
  height: 150px;
  background-size: cover;
  background-position: center;
  font-size: 70px;
  font-weight: 800;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(87, 34, 167);
  background-position: center;
  font-family: 'Calligraffitti', cursive;
  letter-spacing: 5px;
}
.home-back{
  height:"100%";
  background-image: linear-gradient(to right,rgba(195, 195, 195, 0.479), rgba(160, 160, 160, 0.578)),url(https://data.jigsawpuzzle.co.uk/eurographics.37/plush-petals-flower-shop-jigsaw-puzzle-1000-pieces.82004-1.fs.jpg);
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}
.manage-florist-header{
  background-image: linear-gradient(to right,rgba(255, 236, 236, 0.563),rgba(246, 223, 223, 0.59)),url(https://media.istockphoto.com/photos/vivid-color-hydrangea-in-blur-style-picture-id496705525?b=1&k=20&m=496705525&s=170667a&w=0&h=KWISe823HRVZHeK9CCbMOvoZC8aZwgiB_dkkJBTYFuw=);
  padding: 2rem;
  text-shadow: 2px 2px 3px #9d9d9d;
  height: 150px;
  background-size: cover;
  background-position: center;
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  color: rgb(87, 34, 167);
  background-position: center;
  font-family: 'Calligraffitti', cursive;
  letter-spacing: 3px;
}
